.animeDisplayed{
    margin-left: 25px;
    margin-right: 25px;
}
.animeDisplayed img{
    width: 176px;
    height: 199px;
}

.animeNameDisplayed{
    text-align: center;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
