@font-face {
    font-family: 'Bruno Ace SC Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bruno Ace SC Regular'), url('BrunoAceSC-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Cormorant Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cormorant Regular'), url('Cormorant-Regular.woff') format('woff');
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    display: flex;
    /*justify-content: center;*/
    font-family: 'Bruno Ace SC Regular';
    font-size: 128px;
    font-weight: 400;
    font-style: normal;

    align-items: center;
    position: absolute;
    /*width: 530px;*/
    top: 120px;
}
.searchBar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 400px;
}

.input{
    width: 667px;
    height: 70px;
    background: #EEF2F1;
    border-width: 0;
    font-size: 36px;
}

.searchButton{
    font-family: 'Cormorant Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    width: 251px;
    height: 70px;
    background: #C0D8CC;
    border-width: 0;
}

.searchButton:hover{
    cursor: pointer;
}

.otherInfo{
    display: flex;
    /*align-items: center;*/
    position: absolute;
    bottom: 0;
}

.optionUnit{
    display: flex;
    flex-direction: column;
    height: 250px;
    align-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.text{
    display: flex;
    margin-bottom: 20px;

    width: 146px;
    height: 73px;

    font-family: 'Cormorant Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    justify-content: center;
}
.line{
    display: flex;
    width: 0px;
    height: 182px;
    bottom: 0px;
    border: 1px solid #000000;
    align-items: center;
}
